﻿@model CarRentModels.Car

@{
    ViewData["Title"] = "Создание";
}

<h1>Создание</h1>

<h4>Автомобиль</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngineV" class="control-label"></label>
                <input asp-for="EngineV" class="form-control" />
                <span asp-validation-for="EngineV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consumption" class="control-label"></label>
                <input asp-for="Consumption" class="form-control" />
                <span asp-validation-for="Consumption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transmission" class="control-label"></label>
                <input asp-for="Transmission" class="form-control" />
                <span asp-validation-for="Transmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price_hour" class="control-label"></label>
                <input asp-for="Price_hour" class="form-control" />
                <span asp-validation-for="Price_hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Max_speed" class="control-label"></label>
                <input asp-for="Max_speed" class="form-control" />
                <span asp-validation-for="Max_speed" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Conditioner" />@Html.DisplayNameFor(model => model.Conditioner)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div><a asp-action="Index">Вернуться к списку автомобилей</a></div>
<br />
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        // переопределение валидации на стороне клиента
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
    </script>
}
