﻿@model CarRentModels.Car

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы уверены, что хотите удалить автомобиль?</h3>
<div>
    <h4>Автомобиль</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EngineV)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EngineV)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consumption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consumption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transmission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transmission)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price_hour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price_hour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Max_speed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Max_speed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conditioner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conditioner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку автомобилей</a>
    </form>
</div>
<br />
<br />