﻿@model CarRentModels.Car

@{
    ViewData["Title"] = "Полная информация";
}

<h1>Полная информация</h1>

<div>
    <h4>Автомобиль</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consumption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consumption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transmission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transmission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price_hour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price_hour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Max_speed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Max_speed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conditioner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conditioner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Вернуться к списку автомобилей</a>
</div>
