﻿@model CarRentModels.Rent

@{
    ViewData["Title"] = "Удаление";
}

<h1>@ViewData["Title"]</h1>

<h3>Вы уверены, что хотите удалить данную запись аренды?</h3>
<div>
    <h4>Аренда</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-sm-10">
            @(Model.ClientId + ": " + Model.Client.Surname + " " + Model.Client.Name + " " + Model.Client.Patronymic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class="col-sm-10">
            @(Model.CarId + ": " + Model.Car.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку аренд</a>
    </form>
</div>
