﻿@model CarRentModels.Rent

@{
    ViewData["Title"] = "Полная информация";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Аренда</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-sm-10">
            @(Model.ClientId + ": " + Model.Client.Surname + " " + Model.Client.Name + " " + Model.Client.Patronymic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class="col-sm-10">
            @(Model.CarId + ": " + Model.Car.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Вернуться к списку аренд</a>
</div>
