﻿@model CarRentModels.Rent

@{
    ViewData["Title"] = "Редактирование";
}

<h1>@ViewData["Title"]</h1>

<h4>Аренда</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RentStart" class="control-label"></label>
                <input asp-for="RentStart" class="form-control" type="datetime" />
                <span asp-validation-for="RentStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentEnd" class="control-label"></label>
                <input asp-for="RentEnd" class="form-control" type="datetime" />
                <span asp-validation-for="RentEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку аренд</a>
</div>
<br />
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
